.btn
  border 1px solid $ahs-purple
  border-radius .25em
  padding .5rem 1rem
  i:first-child
    padding-right .5rem
  &:hover
    color white
    background-color $ahs-purple
    text-decoration none !important