// details
//   border-left $borderWidth solid $ahs-black
//   border-collapse collapse
//   line-height 1.75
//   margin 1rem 0
//   overflow-x: auto
//   thead
//     tr
//       &:first-child
//         background-color rgba(0, 0, 0, .02)
//       &:last-child
//         border-bottom 2px solid $accentColor
  
//   tbody
//     tr:nth-child(2n)
//       background-color rgba(0, 0, 0, .02)

//   tr 
//     > * + *
//       border-left 1px solid rgba(0, 0, 0,.1)

//   th, td
//     padding .6em 1em
//     vertical-align top

//   img.emoji
//     --size 3em

details 
  background-color $subtleBgColor
  padding-left 1rem
  padding-right 1rem
  display inline-block
  width 100%
  box-sizing border-box
  summary
    margin-left -1rem
    padding 0.6rem 1rem 
    cursor pointer
    width 100%
    &:hover,
    &:focus
      color $accentColor
    > *
      display inline
    > *:last-child
      margin-bottom 0
      padding-bottom 0
    + *
      margin-top 0
      padding-top 1rem
    + *:before
      content ''
      width calc(100% + 2rem)
      height 1px
      background black    
      display block
      margin-left -1rem
      margin-top -1rem
      margin-bottom 1rem
    

