.navbar
  z-index 20
  top 0
  right 0
  position fixed
  left 0
  height $navbarHeight
  box-sizing border-box
  border-bottom 1px solid $borderColor
  background-color $ahs-purple
  .site-name
    color rgba(255,  255,  255,  .5) !important
    font-weight 600
    text-transform uppercase
  .links
    background-color inherit !important
    a
    .search-box
      input
        background-color rgba(0, 0, 0, .2)
        border none
        color white
    .nav-links
      color rgba(255, 255, 255, .5)
      a:hover
        border-bottom-color rgb(255, 255, 255)
      a:hover
      .router-link-active
        color rgb(255, 255, 255)
@media print
  .navbar
    display none
