
.page
  $borderWidth = 1px
  
  box-sizing border-box
  counter-reset page-h2
  display grid
  min-height 100%
  > *
    grid-column-start content-start

  h1
  h2
  h3
  h4
  h5
  h6
    font-weight 600
    line-height 1.25
    margin 0 
    padding-top $navbarHeight

    {$contentClass}:not(.custom) > &
      margin-bottom 0
      margin-top (0.5rem - $navbarHeight)
      padding-top ($navbarHeight + 1rem)

      &:first-child
        margin-bottom 1rem
        margin-top -1.5rem

        + p
        + pre
        + .custom-block
          margin-top 2rem

    &:hover
      a.header-anchor
        opacity 1

        &:hover
          text-decoration none

  a.header-anchor
    bottom 0
    font-size 1.5rem
    opacity 0
    position absolute
    right 0

  h2
  h3
  h4
  h5
  h6
    position relative
    &::before
      $margin = .5rem
      $size = (2 * $contentPadding - $margin)
      border-bottom $borderWidth solid $borderColor
      bottom - $borderWidth
      box-sizing border-box
      color $accentColor
      font-size 1rem
      font-weight 400
      left - $size
      padding-left $margin
      position absolute
      width ($size - $margin)
      @media (max-width: $MQNarrow)
        display none
      @media (max-width: $MQMobileNarrow)
        display none
  
  h5
  h6
    color $accentColor

  h1
    font-size 2.5rem
    margin 3rem 0 0

  h2
    border-bottom $borderWidth solid $borderColor
    counter-increment page-h2
    counter-reset page-h3
    font-size 2rem
    padding-bottom .3125rem

    &::before
      content counter(page-h2)
      padding-bottom .3125rem

  h3
    counter-increment page-h3
    counter-reset page-h4
    font-size 1.75rem

    &::before
      content counter(page-h2) "." counter(page-h3)

  h4
    counter-increment page-h4
    counter-reset page-h5
    font-size 1.5rem

    &::before
      content counter(page-h2) "." counter(page-h3) "." counter(page-h4)

  h5
    font-size 1.125rem

  h6
    font-size 1rem

@media print
  .page
    padding-left 0
