table
  thead
    tr
      &:first-child
        background-color rgba(0, 0, 0, .05)
        border-bottom 2px solid rgba(0, 0, 0, .1)
  tbody
    tr
      &:nth-child(2n)
        background-color rgba(0, 0, 0, .02)
      &:nth-child(2n+1):last-child
        border-bottom 1px dotted rgba(0, 0, 0,.1)
  tr,
  th,
  td
    border none
  * + th,
  * + td
    border-left 1px dotted rgba(0, 0, 0,.1)
