.table-of-contents
  background-color $subtleBgColorAlpha
  border-left $borderWidth solid $accentColor
  padding 1rem 1rem 1rem 1.5rem

  ul
    color $accentColor
    counter-reset: section
    list-style-type none
    margin 0
    padding 0
    li
      &::before
        color currentColor
        content counters(section,".") " "
        counter-increment section
        display inline-block
        min-width 1.5rem

  > ul
    margin-left 0
    > li
      > ul
        margin-left: 1.5rem
        > li
          &::before
            min-width 2rem
          > ul
            margin-left: 2rem
            > li
              &::before
                min-width 2.75rem
