$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 0 $contentPadding $contentPadding (2 * $contentPadding)
  @media (max-width: $MQNarrow)
    padding-left 2rem
  @media (max-width: $MQMobileNarrow)
    padding-left 1.5rem
