// @import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
@import url('https://use.fontawesome.com/releases/v5.14.0/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.14.0/css/fontawesome.css');
// @import url('https://use.fontawesome.com/releases/v5.14.0/css/regular.css');
@import url('https://use.fontawesome.com/releases/v5.14.0/css/solid.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$fontFamilyBody = 'Source Sans Pro', sans-serif
$fontFamilyCode = 'Source Code Pro', monospace

$ahs-orange  = rgb(245, 135, 50)
$ahs-white   = #FFF
$ahs-black   = #000

$ahs-blue       = rgb(0 165 217)
$ahs-blue-alt   = rgb(0 165 217 / .4)
$ahs-purple     = rgb(126 87 197)
$ahs-purple-alt = rgb(126 87 197 / .4)
$ahs-pink       = rgb(210 0 130)
$ahs-pink-alt   = rgb(210 0 130 / .4)
$ahs-green      = rgb(90 185 70)
$ahs-green-alt  = rgb(90 185 70 / .4)
$ahs-red        = rgb(237 0 52)
$ahs-red-alt    = rgb(237 0 52 / .6)

$navbarBgColor = $ahs-purple
$navbarColor  = rgba(255, 255, 255, .5)

$contentClass = '.theme-default-content'
$contentPadding = 2rem