@require './components/arrow'
@require './components/blockquote'
@require './components/button'
@require './components/code'
@require './components/custom-blocks'
@require './components/footnotes'
@require './components/keyboard'
@require './components/list'
@require './components/page'
@require './components/sidebar'
@require './components/table'
@require './components/toc'
@require './components/tree'
@require './components/wrapper'

:root
  font-size 16px

::selection
  background yellow
  color black

html
body
  background-color $ahs-white
  height 100%
  margin 0
  padding 0

html
  overflow-y:scroll;

body
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  color $textColor
  font-family $fontFamilyBody

a
  color $accentColor
  font-weight 500
  text-decoration none

a
em
  font-weight 600

abbr[title]
  cursor help
  &:hover
    background-color var(--color, yellow)


code, kbd, .line-number
  font-family $fontFamilyCode

hr
  border 0
  border-top 1px solid currentColor
  color $accentColor

img
  max-width 100%
  &.logo
    &.-lg
      max-width 250px
    &.-md
      max-width 150px
    &.-sm
      max-width 50px
    &.-sm-h
      max-height: 50px
    &.-list
      padding 1em
  &.emoji
    --size 1em
    height var(--size)
    width var(--size)
    margin 0 .05em 0 .1em
    vertical-align -0.1em

mark
  background-color transparent
  box-shadow inset 0 -0.3em 0 var(--color, yellow)
  color var(--color-dark)

p
  line-height 1.75

.iframe-container
  overflow hidden
  padding-top 56.25%
  position relative
  iframe
    border 0
    height 100%
    left 0
    position absolute
    top 0
    width 100%

{$contentClass}:not(.custom)
  @extend $wrapper

  a:hover
    text-decoration underline

  p.demo
    border 1px solid #ddd
    border-radius 4px
    padding 1rem 1.5rem

  
{$contentClass}.custom
  padding 0
  margin 0

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block

  &.no-navbar
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top 1.5rem
      padding-top 0

    .sidebar
      top 0
  .icon.outbound
    color: inherit;
    opacity .5;

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none

    .page
      padding-left 0

@require 'mobile.styl'



@media print
  :root
    font-size 12pt