@require './components/arrow'
@require './components/button'
@require './components/code'
@require './components/custom-blocks'
@require './components/footnotes'
@require './components/keyboard'
@require './components/list'
@require './components/page'
@require './components/sidebar'
@require './components/table'
@require './components/toc'
@require './components/tree'
@require './components/wrapper'

:root
  font-size 16px

html
  overflow-y:scroll;

body
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  color $textColor

html, body
  background-color #fff
  margin 0
  padding 0

.page
  padding-left $sidebarWidth

{$contentClass}:not(.custom)
  @extend $wrapper
  // > *:first-child
  //   margin-top $navbarHeight

  a:hover
    text-decoration underline

  p.demo
    border 1px solid #ddd
    border-radius 4px
    padding 1rem 1.5rem

  img
    max-width 100%

{$contentClass}.custom
  padding 0
  margin 0

  img
    max-width 100%

a
  color $accentColor
  font-weight 500
  text-decoration none

blockquote
  border-left .1875rem solid $accentColor
  // color $accentColor
  font-size 1rem
  margin 1rem 0
  padding .25rem 0 .25rem 1rem

  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid currentColor
  color $accentColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5

  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

abbr[title]
  cursor help

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block

  &.no-navbar
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top 1.5rem
      padding-top 0

    .sidebar
      top 0
  .icon.outbound
    color: inherit;
    opacity .5;

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none

    .page
      padding-left 0

@require 'mobile.styl'

a
em
  font-weight 600
body
  font-family $fontFamilyBody
img
  &.logo
    &.-lg
      max-width 250px
    &.-md
      max-width 150px
    &.-sm
      max-width 50px
    &.-sm-h
      max-height: 50px
    &.-list
      padding 1em
  &.emoji
    --size 1em
    height var(--size)
    width var(--size)
    margin 0 .05em 0 .1em
    vertical-align -0.1em
mark
  --color #FF0
  background-color transparent
  box-shadow inset 0 -0.3em 0 var(--color)
  color var(--color-dark)
strong
  font-weight 700
table
  line-height 1.75
  td 
    vertical-align top
  img.emoji
    --size 3em
.iframe-container
  overflow hidden
  padding-top 56.25%
  position relative
  iframe
    border 0
    height 100%
    left 0
    position absolute
    top 0
    width 100%

@media print
  :root
    font-size 12pt