// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
@require 'config.styl'

// colors
$accentColor = $ahs-purple
$textColor = $ahs-black
$borderColor = #eaecef
// $codeBgColor = #282c34
$arrowBgColor = lighten($ahs-purple, 50%)
$badgeTipColor = $ahs-green
$badgeWarningColor = $ahs-orange
$badgeErrorColor = $ahs-red 

// layout
$navbarHeight ?= 3.5rem
$sidebarWidth ?= 20rem
$contentWidth ?= 60rem
$homePageWidth ?= 60rem

// responsive breakpoints
// $MQNarrow ?= 959px
// $MQMobile ?= 719px
// $MQMobileNarrow ?= 419px

// code
// $lineNumbersWrapperWidth ?= 3.5rem
$codeLang ?= c css docker dockerfile go html java js less makefile md py sass scss sh stylus ts txt vue yaml

$mobileSidebarWidth = $sidebarWidth * 0.85