// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
@require 'config.styl'

// colors
$accentColor = $ahs-purple
$textColor = $ahs-black
$borderColor = #eaecef
// $codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = $ahs-green
$badgeWarningColor = $ahs-orange
$badgeErrorColor = $ahs-red 

// layout
$navbarHeight ?= 3.5rem
// $sidebarWidth ?= 20rem
// $contentWidth ?= 740px
// $homePageWidth ?= 960px

// responsive breakpoints
// $MQNarrow ?= 959px
// $MQMobile ?= 719px
// $MQMobileNarrow ?= 419px

// code
// $lineNumbersWrapperWidth ?= 3.5rem
// $codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
